<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>

        label{
            color: red;
            font-size: 20px;
            display: block;
        }

        button{
            display: block;
            margin-top: 15px;
            margin-bottom: 15px;
            font-size: 20px;
            width: 100%;
        }
    </style>
</head>
<body>




    <h1>Welcome to our library</h1>
    <form method="POST" action="/save">
        {% csrf_token %}


        <table>
            <tbody>
                <tr>
                    <td><label>Student Name</label></td>
                    <td><input type="text" name="student_name"></td>
                </tr>

                <tr>
                    <td><label>Student Age</label></td>
                    <td><input type="text" name="student_age"></td>
                </tr>

                <tr>
                    <td><button type="submit">Save</button></td>
                </tr>
            </tbody>
        </table>



        

        
        

    </form>  
    <a href="/shopping">Shop</a>  
</body>
</html>